:root {
    --navbar-height: 3rem; /* Define a altura padrão da navbar */
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita rolagem global */
    height: 100%;
  }
  
  .gradient-bg {
    position: absolute;
    top: var(--navbar-height); /* Ajusta para começar abaixo da navbar */
    left: 0;
    width: 100%;
    height: calc(100vh - var(--navbar-height)); /* Altura restante da viewport */
    display: flex;
    flex-direction: row; /* Garante que os elementos fiquem lado a lado */
  }

  /* assets/css/global.css */
button {
    background-color: #4A90E2; /* Azul vibrante */
    color: #FFFFFF; /* Texto branco */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    padding: 0.5rem 1rem; /* Espaçamento interno */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #357ABD; /* Tom mais escuro para hover */
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Caveat', sans-serif; /* Ou outra fonte de sua escolha */
    background: linear-gradient(180deg, #E6E9EF 0%, #F4F6F9 100%);
    color: #333; /* Cor padrão do texto */
    min-height: 100vh; /* Garante altura mínima da página */
  }